body {
	padding: 0;
	margin: 0;
	height: 100vh;
	background: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
